/* ---------------------------------------------Hero section  */

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero/herobgcimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-section__heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 700px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--hero-adress-color);
}
.hero-section__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;

  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--hero-adress-color);
  background-color: var(--accent-color);

  cursor: pointer;
}
