// .conteiner {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
.conteiner {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-with: 480px) {
    width: 450px;
  }
  @media screen and (min-with: 768px) {
    width: 738px;
  }
  @media screen and (min-with: 1200px) {
    width: 1170px;
  }
}
