/*
main text color #757575;
headers link color #212121;
hero adress colors  #FFFFFF;
footer contekr color rgba(255, 255, 255, 0,6)
accent color #2196F3  
background color in our team section and background color of portfolio button #f5f4fa 
secondary bgc   #E5E5E5;
emploer card color     #FFFFFF
footer bgc  #2f303a;
icon color #afb1b8*/

:root {
  --main-text-color: #757575;
  --headers-link-color: #212121;
  --hero-adress-color: #ffffff;
  --footer-contakt-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --bgc-team-btn: #f5f4fa;
  --secondary-bgc: #e5e5e5;
  --employee-card-color: #ffffff;
  --icon-color: #afb1b8;
  --footer-bgc: #2f303a;

  --main-font-family: Roboto, sans-serif;
  --logo-font-family: Raleway, sans-serif;
}
